services:
  - type: web
    name: scamsecure-ai
    env: python
    plan: free
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python app/main.py"
    autoDeploy: true
    envVars:
      - key: FLASK_ENV
        value: production